<%- include('partials/header') %>
<div class="jumbotron text-center">
    <div class="container">
        
      <p class="secret-text"> <img src="pictures/sorry.png" alt="sorry image"> <br>
        <h3 class="display-3">No User Found</h3>
        
      <hr>
      
    </div>
  </div>
  <%-include('partials/footer')%> 