<%- include('partials/header') %>
<div class="jumbotron centered">
  <div class="container">
  <!--  <i class="fas fa-key fa-6x"></i>-->
    <h1 class="display-3">Banking Website</h1>
    <p class="lead">All solution in one site!</p>
    <hr>
  </div>
</div>

<%- include('partials/footer') %>
