<%-include('partials/header')%>
<div class="jumbotron text-center">
    <div class="container">
        
      <p class="secret-text"> <img src="pictures/tenor.gif" width="80px" height="80px" alt="tick image"> <br>
        <h5 class="display-3"> Transfered amount <%= item %> </h5>
        
      <hr>
      
    </div>
  </div>
  <div class="jumbotron text-center">
    <div class="container">
        
               <p><h4>Available Balance <%=piece%></h4> </p>        
      <hr>
      
    </div>
  </div>
<%-include('partials/footer')%>